    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    input {
      display: block;
      margin-bottom: 15px;
      padding: 8px;
      width: 250px;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
    }
    .container {
      display: flex;
      width: 600px;
      height: 300px;
      border: 1px solid;
      margin-top: 40px;
    }
    .column {
      width: 200px;
      height: 300px;
      border: 1px solid;
    }
    .cell {
      height: 100px;
      width: 200px;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: center;
    }